body {
    padding-bottom: 20px;
    color: #141414;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.search-input {
    min-width: 550px;
    max-width: 550px;
}

.bg-custom {
    webkit-box-shadow: 0 0 6px rgba(25,25,34,.16);
    box-shadow: 0 0 6px rgba(25,25,34,.16);
    background-color: #141414;
    height: 70px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    letter-spacing: .07rem;
    font-size: 13px;
}

.btn-custom {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #F5F5F5;
    border: 1px solid #cecece;
    margin: 0px 15px 15px 0px;
}

label {
    font-weight: bold;
}

.user-photo {
    webkit-box-shadow: 0 0 6px rgba(25,25,34,.16);
    box-shadow: 0 0 6px rgba(25,25,34,.16);
    margin-bottom: 15px;
}

.edition-date {
    color: #1289C4;
    font-size: 28px;
    margin-bottom: 0px;
}

.edition-date:hover {
    text-decoration: none;
}